.entete {
    height: 155px;
    position: relative;    
    background: url(../../../_assets/menu_images/degrade-entete.jpg)top repeat-x #016cb9;
}

a img {
    text-decoration: none !important;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

button, input {
    line-height: normal;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

.entete .recherche .SearchTextBox {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 38px 0px 11px;
    height: 34px;
    font: 400 14px/34px Arial, Helvetica, sans-serif;
    color: #181818;
    border: 0px;
}

.entete .recherche .SearchImage {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 9px;
    top: 8px;
    background: url(../../../_assets/menu_images/loupe.jpg)left top no-repeat;
}

.recherche {
    width: 266px;
    float: right;
    position: relative;
    border: 1px #024ea2 solid;
    margin-top: 60px;
}

.shrink {
    width: 970px;
    padding: 0px;
    margin: 0 auto;
    position: relative;
}

.mMenu, .mPied, .menuMobile, .imageMobile, .toggleFilters, .inPromo {
    display: none;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}