@charset "utf-8";
/* CSS Document */
/* commune */


.realization {
    padding: 25px 0px;
}

    .realization a   {
        text-decoration: none;
        color: #000;
    }
    .realization a p{
        text-align: center;
        padding-top: 15px;
        text-decoration: none;
        color: #000;
        
    }
.realization a p:hover {text-decoration:none;color:#000;}


.realization .slick-slide {
        margin: 0px 20px;
    }



.center{
    text-align: center;
    padding: 0;
}
.justify{
    text-align: justify;
}
.margesection{
    margin-top: 20px;
}
.topdivision{
    margin-top:25px;
}
.orange{
    color: rgb(213,94,36);
}
/* header */
.bghead {
    background-color: white;
    background-position: center;
    background-size: cover;
    height: auto;
}
.bghead a {
    color:black;
}
.marginmedia{
    margin: 10px 10px 0px 0px;
}

.tel_top {float:right;margin: 10px 10px 0px 0px;}
.urgence_top {float:right;font-weight:700;margin: 20px 10px 0px 0px;}
.facebook_top {float:right;margin: 10px 10px 0px 0px;}
/* Mobile menu*/
.mobilenav {
    display: none;
}

/* total menu*/
.bgnav {
    height: 53px;
    background-color: #2A2A2A;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* mettre en place le menu sans bullet et en avant */
.menudestop ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    font-size: 18px;
}
/* mettre les elements en ligne */
.menudestop li {
    display: inline-block;
    float: left;
}
/* style pour mon menu */
.menudestop ul li a {
    display: block;
    margin-right: 20px;
    height: 53px;
    text-align: left;
    line-height: 50px;
    font-family: Calibri;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    cursor:default;
}
/* effet de sur vole premier menu */
.menudestop li a:hover {
    color: rgb(213,94,36);
}
/* cacher les sous listes */
.menudestop li ul {
    display: none;
    z-index: 10000;
}

/* comment placer la sous liste */
.menudestop li li {
    display: block;
    float: none;
    height: 100%;
}

/* style de la sous liste */
.menudestop li li a {
        width: auto;
        min-width: 140px;
        padding: 0 10px;
        cursor: pointer;
    }
/* Style for dropdown links */
.menudestop li:hover ul a {
    background: rgb(213,94,36);
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-weight: 400;
}
/* Hover state for dropdown links */
.menudestop li:hover ul a:hover {
        background: #f5f5f5;
        color: #000;
    }

/* montre la sous liste par le survole */
.menudestop ul li a:hover + .hidden, .hidden:hover {
    display: block;
}
/* position du deuxieme sous menu */
.menudestop ul ul ul {
    margin: 0px 0px 0px 158px;
    position: absolute;
    top: 0px;
}
/* style de la box deuxieme sous menu */
.menudestop li li:hover ul a {
    background-color: #f5f5f5;
    color: #000;
}

.menudestop li li:hover ul a:hover {
        background-color: #f5f5f5;
        color: rgb(213,94,36);
    }
/* troisieme sous menu */
.menudestop li li li:hover ul {
    margin: 0px 0px 0px 140px;
    position: absolute;
    top: 0px;
    width: 530px;
    background-color: #f5f5f5;
}

.menudestop li li li:hover ul a {
        text-align: center;
        color: rgb(213,94,36);
    }

.menudestop li li li:hover ul img {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

.menudestop li li li:hover ul h4 {
        display: inline;
        margin: -5px 0px 0px 0px;
        text-align: center;
        
    }
   
 
.menudestop li li li:hover h4 a {
    margin-right: 0px;
    font-size: 14px;
    line-height: 16px;
    padding: 10px;
    padding-bottom: 0px;
    font-weight: 900;
    text-align: center;
  
}
/* menu sticky */
#navbar {
    z-index:100000;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .content {
    padding-top: 60px;
  }
  #logo_sticky img {height:40px;width:40px;padding-top:0px;}
  #logo_sticky img:hover {transform: scale(1.1);transition: all .1s ease-in-out;cursor: pointer;}
  #facebook_sticky img {height:40px;width:40px;padding-top:0px;cursor: pointer;}
  #urgence_sticky img {height:40px;width:40px;padding-top:0px;cursor: pointer;}
  .addlogo {visibility:hidden;}
  .FU_right {position:relative;right:40px;}

/* Footer */
.bgmap {
        background-image: url(../../Resources/Images/background-map.jpg);
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
    }
.container-footer{
        margin-left:auto;
        margin-right:auto;
        width:auto;
        height: auto;
    }
.item-footer{
        min-width:100px;
        display:inline;
        line-height: 1.25px;
        float:left;
        margin-left:auto;
        margin-right:auto;
        margin:50px 0px 20px 0px;
        text-align:center;
        height:200px;
        width:14.2%;
    }
.item-footer h3{
        padding-bottom:20px;
    }
.item-footer h3 a{
        color:#1A1A1A;
        text-decoration:none;
        font-weight:700;
}
.item-footer h3 a:hover{
    color: white;
    }
.item-footer p{
       /* padding-bottom:-10px; */
        line-height: normal;
    }
.item-footer p a{
        color:white;
        text-decoration:none;
    }
.item-footer p a:hover{
        color: rgb(5, 5, 5);
    }
    
.topfooter {
        background-color: rgb(213,94,36);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }
.blacklinefooter {
        background-color: black;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }


.blackfootertop {
        padding-top: 20px;
        color: #fff;
    }
.blackfootertop a {
        color: rgb(213,94,36);
    }
.footerright {text-align: right;
}
.footercenter {text-align: center;
}
/* section multiple product */
.rectangle {
        height: 10px;
        width: auto;
        background-color: rgb(213,94,36);
    }
.titlesection{
    margin-top: 75px;
}
.sectionservices {
    margin-top: 50px;
}
/* Page accueil */
/* section logo */
.logo {
    text-align: center;
    height: auto;
}
.logo .item {
        float: left;
        height: 200px;
        margin-top:20px;
    }
.logo a {
    text-decoration: none;
}
.logo a h3 {
    color: rgb(213,94,36);
    text-transform:uppercase;
    padding-top:20px;  
}

/* section promo */
.promo_cnt {
    padding: 25px 0px;
    margin-bottom: 50px;
}
.promo_cnt a {
        text-decoration: none;
        color: #000;
    }
.promo_cnt .slick-slide {
        margin: 0px 20px;
    }

.promo_box {
        position: relative;
      }
.promo_top_orange {
    height: 10px;
    width: auto;
    background-color: rgb(213,94,36);
}
.promo_img {
    position: relative;
    margin: auto;
    overflow: hidden;
  }
.promo_img img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    transform: scale(1);
}
.promo_img:hover img {
    transform: scale(1.1);
}
.promo_box_triangle {
    background: rgb(213,94,36);
    background: linear-gradient(315deg, rgba(213,94,36,1) 5%,  rgba(213,94,36,0) 35%);
    height: 350px;
    width: 350px;
   position: absolute;
   bottom: 0px;
   right: 0px;
}
.promo_cover {
    background-position: center center;
    background-repeat:  no-repeat;
    object-fit:cover; 
    height: 350px;
}
.promo_price {
    position: absolute;
    bottom: 7px;
    right: 15px;
    color: white;
    font-size: 18px;
   font-weight: 700;
  }
 .promo_fit {object-fit:cover;height:350px;}

/* autre reali */

.image-box {
        position: relative;
        margin: auto;
        overflow: hidden;
    }
.image-box img {
        max-width: 100%;
        transition: all 0.3s;
        display: block;
        width: 100%;
        height: auto;
        transform: scale(1);
    }
    
.image-box:hover img {
        transform: scale(1.1);
}
     
/* 3 services */
.bg3serviceleft {
    background-image: url(../../_assets/images/menu_images/accueil-succursales.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 300px;
}
.bg3servicecenter{
    background-image: url(../../_assets/images/menu_images/accueil-pieces.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 300px;
}
.bg3servicerigth{
    background-image: url(../../_assets/images/menu_images/accueil-urgence.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 300px;
}
.titleservice{
    padding: 200px 0px 0px 20px;
    text-decoration: none;
    color: rgb(213,94,36);
    font-weight: 700;
}
.titleservice:hover{
    color: #fff;
    text-decoration: none;
}
/* Page Details */

.Descriptionp{ 
    text-align: justify;
    padding-right: 20px;
    margin-top: 20px;
}
.infotitle{
    padding-right: 10px;
    font-size: 15px;
    font-weight: 700;
    padding-top: 15px;
    display: inline;
}
.infotext{
    padding-top: 15px;
    display: inline;
}

.topnavdetail a {
    text-decoration: none;
    color: black;
}
.topnavdetail a:hover{
text-decoration:underline;
}
.title{
    text-align: left;
    margin: 0px 20px 20px 0px;
    text-transform: uppercase;
    display: inline-block;
}
.subnavdescription {
    text-align: left;
    margin: 0px 20px 20px 0px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    float: left;
}
.subnavdescription a:hover{
    color:rgb(213,94,36);
    text-decoration:none;
    }
.rightbutton {
        margin: 0px 20px 20px 0px;
        float: right;
    }

.buttonwebsite {
        padding: 11px;
        background-color: rgb(213,94,36);  
        text-transform: uppercase;
        color: #fff;   
    }
   
.buttonwebsite:hover {
            background-color: rgb(5, 5, 5);
            cursor:pointer;
}

.logoleft{
    padding: 10px 0px;
}
/* colum row page détail */
.column1details {
    float: left;
    width: 20%;
    padding: 10px;
    text-transform: uppercase;
    height: 50px;
}

.column3details {
    float: left;
    width: 70%;
    padding: 10px;
    border-left: 1px solid black;
    padding-left: 25px;
    text-transform: uppercase;
    min-height: 50px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* photo */
/* The grid: Four equal columns that floats next to each other */
.columnphoto {
    float: left;
    width: 33%;
}

    /* Style the images inside the grid */
    .columnphoto img {
        opacity: 0.8;
        cursor: pointer;
    }

        .columnphoto img:hover {
            opacity: 1;
        }
/* palcement photo */
.imgdetailsleft{
    padding-top: 4px;
}
.imgdetailscenter{
    padding-top: 4px;
    padding-left: 4px;
}
.imgdetailsright{
    padding-top: 4px;
    padding-left: 8px;
}

/* Clear floats after the columns */
.rowphoto:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */
.containerphoto {
    position: relative;
    display: block;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    color: white;
    font-size: 20px;
}

/* page filter */
.bgtrucks{
    background: url(../../../_assets/images/menu_images/background-trucks.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    object-fit:cover; 
    height: 350px;
}

.multiproduct .rectangle {
    height: 10px;
    width: auto;
    background-color: rgb(213,94,36);
}
.ProductBrokerType_String{
    float: right;
    font-weight: 700;
}

.bgfiltre {
    background-color: dimgray;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
}

.filterZone h1 {
    margin: 0;
}

.container-filter {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.filter-item {
    float: left;
    padding: 30px 10px 30px 10px;
}
.filter-item a {
    color: black;
    text-decoration: none;
}
.filter-item img{
    object-fit:cover; 
    height: 350px;
}
.resultsearch {
    padding: 5px;
    float: left;
}

/* pagination trucks */
.pagination {
   /* display: inline; */
    float: right;  
}
.pagination a {
    color: black;
    float: left;
    padding: 13px 16px;
    text-decoration: none;
    transition: background-color .3s;
    position:relative;
    top:6px;
    cursor: pointer;
    margin-right: 6px;
}
.pagination button {
    float: left;
    text-decoration: none;
    margin:6px 6px 6px 0;
}
.pagination a.active {
    background-color: rgb(213, 94, 36);
    color: white;
}
.pagination a:hover:not(.active) {
    background-color: rgb(213, 94, 36);
}


.resultatbdfilter{
    float: right;
    font-weight: 700;
}
.borderdown{
    border-bottom: solid #000 1px;
}
#zoneCriteria {height:40px;width:100%;}
#zoneCriteria .titlefilter{
    color:rgb(73, 73, 73); 
    float:left; 
    display:inline-block;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin:6px;
    line-height: 1;
}
#zoneCriteria .itemfilter{
    color:#fff; 
    float:left; 
    display:inline-block;
    font-weight: 700;
    padding: 1px 6px 6px 4px;  
    font-size: 13px;
    cursor: pointer;
    background-color: rgb(213,94,36);
    line-height: 1;
    margin-right: 3px;
}
#zoneCriteria .itemfilter:hover {background-color: #2a2a2a;}

.itemfilter:before {
    content:"\00d7";  
    color:#fff;
    font-weight:bold;
    font-size:20px; 
    padding-right:8px;
}
.itemfilter:hover:before {
color:#f00;
}

#zoneCriteria .itemfilter sup{
    color:red; 
    font-weight: 700;
    font-size: 12px;
    padding-right: 10px;
    padding-top: 5px;
}
.titlefilterzone{
    width: 100%;
    margin: 0px !important; 
    font: 400 1.8em 'calibri', Arial, Helvetica, sans-serif;
    color: #525252;
    text-transform: uppercase;
}
.horizonRuler {
    border-top: 1px #cfcfcf solid; border-bottom: 1px #cfcfcf solid; 
}

.teaser {text-align:center; margin-bottom:40px; text-transform:uppercase; font-weight:700;}


@media all and (min-width: 2000px) {
    .bgtrucks{
        background: url(../../../_assets/images/menu_images/background-trucks.jpg);
        background-position: center center;
        background-repeat:  no-repeat;
        object-fit:cover; 
        height: 450px;
    }
    .filter-item img{
        object-fit:cover; 
        height: 450px;
    }
}

@media (max-width: 1300px) {
    .filter-item {
        width: 50%;
        float: left;
        padding: 50px 20px 50px 20px;
    }
    .bgtrucks{
        background: url(../../../_assets/images/menu_images/background-trucks.jpg);
        background-position: center center;
        background-repeat:  no-repeat;
        object-fit:cover; 
        height: 350px;
    }
    .filter-item img{
        object-fit:cover; 
        height: 350px;
    }
}

@media (max-width: 1024px) {
    .fournisseurs a{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-color:#024da1;
        color:#fff;
        cursor:pointer;
        font-size:16px;
        font-size:1rem;
        display:inline-block;
        height:30px;
        line-height:30px;
        margin-bottom:2%;
        margin-right:2.5%;
        text-align:center;
        width:100%;
       -moz-transition: all 0.25s ease-in-out;
       -o-transition: all 0.25s ease-in-out;
       -webkit-transition: all 0.25s ease-in-out;
       -ms-transition: all 0.25s ease-in-out;
       transition: all 0.25s ease-in-out;
     }

    .bgtrucks{
        background: url(../../../_assets/images/menu_images/background-trucks.jpg);
        background-position: center center;
        background-repeat:  no-repeat;
        object-fit:cover; 
        height: 250px;
    }
   
    .imagespec{
        object-fit:cover; 
        height: 250px;
      }
    .filter-item img{
        object-fit:cover; 
        height: 250px;
    }
    .column {
        float: left;
        width: 50%;
        padding: 5px 5px 0px 5px;
    }
    .borderdown{
        border-bottom: solid #000 1px;
    }
    .filter-item {
        width: 50%;
        float: left;
        padding: 50px 20px 50px 20px;
    }
   
    .mobiletel {
        display: block;
        margin-top:12px;
    }
    .mediascss {
        padding: 0px;
        margin-top:0px;
    }
    .rightbutton {
        float: none;
        width:100%;
        margin: 5px 0px;
        padding: 0px;
    }
    /*
    .buttonwebsite {
        padding: 5px;
       
        -webkit-border-radius: 4px;
        border-radius: 4px;
        border: solid 1px rgb(213,94,36);
        text-transform: uppercase;
        font-size: 14px;
    }

    .buttonwebsite:hover {
        background-color: rgb(213,94,36);
        -webkit-box-shadow: 0px 1px 2px 2px rgba(000,000,000,0.5);
        box-shadow: 0px 1px 2px 2px rgba(000,000,000,0.5);
        text-decoration: none;
        color: white;
    }
    */
    .subnavdescription a:hover {
        color: rgb(213,94,36);
        text-decoration: none;
    }
    /* menu mobile */
    .mobilenav {
        display: block;
    }

        /* Common styles of menus */

        .mobilenav .dl-menuwrapper {
            width: 100%;
            max-width: 300px;
            float: left;
            position: relative;
            -webkit-perspective: 1000px;
            perspective: 1000px;
            -webkit-perspective-origin: 50% 200%;
            perspective-origin: 50% 200%;
            z-index: 10000;
        }

            .mobilenav .dl-menuwrapper:first-child {
                margin-right: 100px;
            }

            .mobilenav .dl-menuwrapper button {
                background-color: #2A2A2A;
                border: none;
                width: 32px;
                height: 32px;
                text-indent: -900em;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                outline: none;
                margin-top: -5px;
            }

                .mobilenav .dl-menuwrapper button:hover,
                .mobilenav .dl-menuwrapper button.dl-active,
                .mobilenav .dl-menuwrapper ul {                 
                    background-color: rgb(213,94,36);
                }

                .mobilenav .dl-menuwrapper button:after {
                    content: '';
                    position: absolute;
                    width: 68%;
                    height: 5px;
                    background: #fff;
                    top: 12px;
                    left: 16%;
                    box-shadow: 0 10px 0 #fff, 0 20px 0 #fff;
                }

            .mobilenav .dl-menuwrapper ul {
                padding: 0;
                list-style: none;
                -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
            }

            .mobilenav .dl-menuwrapper li {
                position: relative;
                top: 0px;
            }

                .mobilenav .dl-menuwrapper li a {
                    display: block;
                    position: relative;
                    padding: 15px 20px;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 300;
                    color: #fff;
                    outline: none;
                    text-decoration: none;
                }

        .mobilenav .no-touch .dl-menuwrapper li a:hover {
            background: rgba(255,248,213,0.1);
        }

        .mobilenav .dl-menuwrapper li.dl-back > a {
            padding-left: 30px;
            background-color: #2A2A2A;
        }

        .mobilenav .dl-menuwrapper li.dl-back:after,
        .mobilenav .dl-menuwrapper li > a:not(:only-child):after {
            position: absolute;
            top: 0;
            line-height: 50px;
            font-family: 'icomoon';
            speak: none;
            -webkit-font-smoothing: antialiased;
            content: "\e000";
        }

        .mobilenav .dl-menuwrapper li.dl-back:after {
            left: 10px;
            color: rgba(212,204,198,0.3);
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        .mobilenav .dl-menuwrapper li > a:after {
            right: 10px;
            color: rgba(0,0,0,0.15);
        }

        .mobilenav .dl-menuwrapper .dl-menu {
            margin: 0px;
            position: absolute;
            width: 100%;
            opacity: 0;
            pointer-events: none;
            -webkit-transform: translateY(10px);
            transform: translateY(10px);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

            .mobilenav .dl-menuwrapper .dl-menu.dl-menu-toggle {
                transition: all 0.3s ease;
            }

            .mobilenav .dl-menuwrapper .dl-menu.dl-menuopen {
                opacity: 1;
                pointer-events: auto;
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
            }

        /* Hide the inner submenus */
        .mobilenav .dl-menuwrapper li .dl-submenu {
            display: none;
        }

        /* 
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link. 
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
        .mobilenav .dl-menu.dl-subview li,
        .mobilenav .dl-menu.dl-subview li.dl-subviewopen > a,
        .mobilenav .dl-menu.dl-subview li.dl-subview > a {
            display: none;
        }

            .mobilenav .dl-menu.dl-subview li.dl-subview,
            .mobilenav .dl-menu.dl-subview li.dl-subview .dl-submenu,
            .mobilenav .dl-menu.dl-subview li.dl-subviewopen,
            .mobilenav .dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
            .mobilenav .dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
                display: block;
            }

        /* Dynamically added submenu outside of the menu context */
        .mobilenav .dl-menuwrapper > .dl-submenu {
            position: absolute;
            width: 100%;
            top: 50px;
            left: 0;
            margin: 0;
        }

        /* Animation classes for moving out and in */

        .mobilenav .dl-menu.dl-animate-out-4 {
            -webkit-animation: MenuAnimOut4 0.4s ease;
            animation: MenuAnimOut4 0.4s ease;
        }



    @-webkit-keyframes MenuAnimOut4 {
        0% {
        }

        100% {
            -webkit-transform: translateZ(-300px);
            opacity: 0;
        }
    }

    @keyframes MenuAnimOut4 {
        0% {
        }

        100% {
            -webkit-transform: translateZ(-300px);
            transform: translateZ(-300px);
            opacity: 0;
        }
    }

    .mobilenav .dl-menu.dl-animate-in-4 {
        -webkit-animation: MenuAnimIn4 0.4s ease;
        animation: MenuAnimIn4 0.4s ease;
    }

    @-webkit-keyframes MenuAnimIn4 {
        0% {
            -webkit-transform: translateZ(-300px);
            opacity: 0;
        }

        100% {
            -webkit-transform: translateZ(0px);
            opacity: 1;
        }
    }

    @keyframes MenuAnimIn4 {
        0% {
            -webkit-transform: translateZ(-300px);
            transform: translateZ(-300px);
            opacity: 0;
        }

        100% {
            -webkit-transform: translateZ(0px);
            transform: translateZ(0px);
            opacity: 1;
        }
    }

    .mobilenav .dl-menuwrapper > .dl-submenu.dl-animate-in-4 {
        -webkit-animation: SubMenuAnimIn4 0.4s ease;
        animation: SubMenuAnimIn4 0.4s ease;
    }

    @-webkit-keyframes SubMenuAnimIn4 {
        0% {
            -webkit-transform: translateZ(300px);
            opacity: 0;
        }

        100% {
            -webkit-transform: translateZ(0px);
            opacity: 1;
        }
    }

    @keyframes SubMenuAnimIn4 {
        0% {
            -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
            opacity: 0;
        }

        100% {
            -webkit-transform: translateZ(0px);
            transform: translateZ(0px);
            opacity: 1;
        }
    }


    .mobilenav .dl-menuwrapper > .dl-submenu.dl-animate-out-4 {
        -webkit-animation: SubMenuAnimOut4 0.4s ease;
        animation: SubMenuAnimOut4 0.4s ease;
    }

    @-webkit-keyframes SubMenuAnimOut4 {
        0% {
            -webkit-transform: translateZ(0px);
            opacity: 1;
        }

        100% {
            -webkit-transform: translateZ(300px);
            opacity: 0;
        }
    }

    @keyframes SubMenuAnimOut4 {
        0% {
            -webkit-transform: translateZ(0px);
            transform: translateZ(0px);
            opacity: 1;
        }

        100% {
            -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
            opacity: 0;
        }
    }

    /* No JS Fallback */
    .mobilenav .no-js .dl-menuwrapper .dl-menu {
        position: relative;
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }

    .mobilenav .no-js .dl-menuwrapper li .dl-submenu {
        display: block;
    }

    .mobilenav .no-js .dl-menuwrapper li.dl-back {
        display: none;
    }

    .mobilenav .no-js .dl-menuwrapper li > a:not(:only-child) {
        background: rgba(0,0,0,0.1);
    }

        .mobilenav .no-js .dl-menuwrapper li > a:not(:only-child):after {
            content: '';
        }

    /* Colors for demos */


    /* Demo 4 */
    .demo-4 .dl-menuwrapper button {
        background: #90b912;
    }

        .demo-4 .dl-menuwrapper button:hover,
        .demo-4 .dl-menuwrapper button.dl-active,
        .demo-4 .dl-menuwrapper ul {
            background: #79a002;
        }
    /* page details */


}
@media handheld, (max-width: 769px) { 
    .fournisseurs a{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-color:#024da1;
        color:#fff;
        cursor:pointer;
        font-size:14px;
        display:inline-block;
        height:30px;
        line-height:30px;
        margin-bottom:2%;
        margin-right:2.5%;
        text-align:center;
        width:100%;
       -moz-transition: all 0.25s ease-in-out;
       -o-transition: all 0.25s ease-in-out;
       -webkit-transition: all 0.25s ease-in-out;
       -ms-transition: all 0.25s ease-in-out;
       transition: all 0.25s ease-in-out;
     }
    h4 {
        font-size: 18px;
    }
 .pagination {display:block;}

    .bgtrucks{
        background: url(../../../_assets/images/menu_images/background-trucks.jpg);
        background-position: center center;
        background-repeat:  no-repeat;
        object-fit:cover; 
        height: 350px;
    } 
    .filter-item img{
        object-fit:cover; 
        height: 350px;
    }
    .column {
        float: left;
        width: 50%;
        padding: 5px 5px 0px 5px;
    }
    .column3details {
        float: left;
        width: 40%;
        border-left: none;
        text-transform: uppercase;
        min-height: 50px;
    }
    .column1details {
        float: left;
        width: 40%;
        text-transform: uppercase;
        height: 50px;
    }
    .verticalline {
        border-left: none;
        padding-left: 25px;
    }
    .mobilefixedheader {
        margin-top: 300px;
    }
    .filter-item {
        width: 100%;
        float: left;
        display: inline;
        padding: 50px 20px 50px 20px;
    }
    .mobiletel {
        display: block;
        margin-top: 12px;
    }
    .mediascss {
        padding: 0px;
        margin-top:0px;
    }
    .item-footer {
        min-width: 100px;
        display: inline;
        float: left;
        margin-left: auto;
        margin-right: auto;
        margin: 50px 0px 20px 0px;
        text-align: center;
        height: 150px;
        width: 33.3%
    }
/*
.buttonwebsite {
        padding: 5px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        border: solid 1px rgb(213,94,36);
        text-transform: uppercase;
    }

.buttonwebsite:hover {
            background-color: rgb(213,94,36);
            -webkit-box-shadow: 0px 1px 2px 2px rgba(000,000,000,0.5);
            box-shadow: 0px 1px 2px 2px rgba(000,000,000,0.5);
            text-decoration: none;
            color: white;
    }
*/
    .subnavdescription a:hover {
        color: rgb(213,94,36);
        text-decoration: none;
    }
    .rightbutton {
        float: none;
        width:100%;
    }
   /* menu mobile */
   .mobilenav {
    display: block;
    height: 50px;
}

    /* Common styles of menus */

    .mobilenav .dl-menuwrapper {
        width: 100%;
        max-width: 300px;
        float: left;
        position: absolute;
        -webkit-perspective: 1000px;
        perspective: 1000px;
        -webkit-perspective-origin: 50% 200%;
        perspective-origin: 50% 200%;
        z-index: 10000;
    }

        .mobilenav .dl-menuwrapper:first-child {
            margin-right: 100px;
        }

        .mobilenav .dl-menuwrapper button {
            background-color: #2A2A2A;
            border: none;
            width: 32px;
            height: 32px;
            text-indent: -900em;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            outline: none;
            margin-top: -5px;
        }

            .mobilenav .dl-menuwrapper button:hover,
            .mobilenav .dl-menuwrapper button.dl-active,
            .mobilenav .dl-menuwrapper ul {                 
                background-color: rgb(213,94,36);
            }

            .mobilenav .dl-menuwrapper button:after {
                content: '';
                position: absolute;
                width: 68%;
                height: 5px;
                background: #fff;
                top: 12px;
                left: 16%;
                box-shadow: 0 10px 0 #fff, 0 20px 0 #fff;
            }

        .mobilenav .dl-menuwrapper ul {
            padding: 0;
            list-style: none;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }

        .mobilenav .dl-menuwrapper li {
            position: relative;
            top: 0px;
        }

            .mobilenav .dl-menuwrapper li a {
                display: block;
                position: relative;
                padding: 15px 20px;
                font-size: 16px;
                line-height: 20px;
                font-weight: 300;
                color: #fff;
                outline: none;
                text-decoration: none;
            }

    .mobilenav .no-touch .dl-menuwrapper li a:hover {
        background: rgba(255,248,213,0.1);
    }

    .mobilenav .dl-menuwrapper li.dl-back > a {
        padding-left: 30px;
        background-color: #2A2A2A;
    }

    .mobilenav .dl-menuwrapper li.dl-back:after,
    .mobilenav .dl-menuwrapper li > a:not(:only-child):after {
        position: absolute;
        top: 0;
        line-height: 50px;
        font-family: 'icomoon';
        speak: none;
        -webkit-font-smoothing: antialiased;
        content: "\e000";
    }

    .mobilenav .dl-menuwrapper li.dl-back:after {
        left: 10px;
        color: rgba(212,204,198,0.3);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .mobilenav .dl-menuwrapper li > a:after {
        right: 10px;
        color: rgba(0,0,0,0.15);
    }

    .mobilenav .dl-menuwrapper .dl-menu {
        margin: 0px;
        position: absolute;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

        .mobilenav .dl-menuwrapper .dl-menu.dl-menu-toggle {
            transition: all 0.3s ease;
        }

        .mobilenav .dl-menuwrapper .dl-menu.dl-menuopen {
            opacity: 1;
            pointer-events: auto;
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
        }

    /* Hide the inner submenus */
    .mobilenav .dl-menuwrapper li .dl-submenu {
        display: none;
    }

/* 
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link. 
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
    .mobilenav .dl-menu.dl-subview li,
    .mobilenav .dl-menu.dl-subview li.dl-subviewopen > a,
    .mobilenav .dl-menu.dl-subview li.dl-subview > a {
        display: none;
    }

        .mobilenav .dl-menu.dl-subview li.dl-subview,
        .mobilenav .dl-menu.dl-subview li.dl-subview .dl-submenu,
        .mobilenav .dl-menu.dl-subview li.dl-subviewopen,
        .mobilenav .dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
        .mobilenav .dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
            display: block;
        }

    /* Dynamically added submenu outside of the menu context */
    .mobilenav .dl-menuwrapper > .dl-submenu {
        position: absolute;
        width: 100%;
        top: 50px;
        left: 0;
        margin: 0;
    }

    /* Animation classes for moving out and in */

    .mobilenav .dl-menu.dl-animate-out-4 {
        -webkit-animation: MenuAnimOut4 0.4s ease;
        animation: MenuAnimOut4 0.4s ease;
    }



@-webkit-keyframes MenuAnimOut4 {
    0% {
    }

    100% {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }
}

@keyframes MenuAnimOut4 {
    0% {
    }

    100% {
        -webkit-transform: translateZ(-300px);
        transform: translateZ(-300px);
        opacity: 0;
    }
}

.mobilenav .dl-menu.dl-animate-in-4 {
    -webkit-animation: MenuAnimIn4 0.4s ease;
    animation: MenuAnimIn4 0.4s ease;
}

@-webkit-keyframes MenuAnimIn4 {
    0% {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
}

@keyframes MenuAnimIn4 {
    0% {
        -webkit-transform: translateZ(-300px);
        transform: translateZ(-300px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0px);
        transform: translateZ(0px);
        opacity: 1;
    }
}

.mobilenav .dl-menuwrapper > .dl-submenu.dl-animate-in-4 {
    -webkit-animation: SubMenuAnimIn4 0.4s ease;
    animation: SubMenuAnimIn4 0.4s ease;
}

@-webkit-keyframes SubMenuAnimIn4 {
    0% {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn4 {
    0% {
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0px);
        transform: translateZ(0px);
        opacity: 1;
    }
}


.mobilenav .dl-menuwrapper > .dl-submenu.dl-animate-out-4 {
    -webkit-animation: SubMenuAnimOut4 0.4s ease;
    animation: SubMenuAnimOut4 0.4s ease;
}

@-webkit-keyframes SubMenuAnimOut4 {
    0% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }
}

@keyframes SubMenuAnimOut4 {
    0% {
        -webkit-transform: translateZ(0px);
        transform: translateZ(0px);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        opacity: 0;
    }
}

/* No JS Fallback */
.mobilenav .no-js .dl-menuwrapper .dl-menu {
    position: relative;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

.mobilenav .no-js .dl-menuwrapper li .dl-submenu {
    display: block;
}

.mobilenav .no-js .dl-menuwrapper li.dl-back {
    display: none;
}

.mobilenav .no-js .dl-menuwrapper li > a:not(:only-child) {
    background: rgba(0,0,0,0.1);
}

    .mobilenav .no-js .dl-menuwrapper li > a:not(:only-child):after {
        content: '';
    }

/* Colors for demos */


/* Demo 4 */
.demo-4 .dl-menuwrapper button {
    background: #90b912;
}

.demo-4 .dl-menuwrapper button:hover,
.demo-4 .dl-menuwrapper button.dl-active,
.demo-4 .dl-menuwrapper ul {
    background: #79a002;}